.App {
    text-align: center;
}

.App-container {
    border: 1px solid black;
    width: 60%;
    margin: 10px auto;
    border-radius: 10px;
}

.App h1 {
    margin: 6px auto;
}

.App footer {
    font-size: 14px;
}

.App footer a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.App footer a:hover {
    text-decoration: underline;
    color: blue;
}

.Meaning p {
    text-align: center;
    margin-left: 0px;
}

.Phonetics button {
    border-bottom-color: transparent !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
}

.Results h4 {
    font-weight: 300;
}

.Search form {
    margin-top: 20px;
}

.Search button {
    border-radius: 4px;
    border: 1px solid black;
}

.Search input {
    border-radius: 4px;
    border: 1px solid black;
}

.Search h6 {
    margin-left: 160px;
    font-weight: 400;
    padding-top: 2px;
    font-size: 14px;
}



@media (max-width: 900px) {
    .App-container {
        width: 80%;
    }
    .Search h6 {
        margin-left: 34px;
        font-size: 12px;
    }

    .App footer {
        font-size: 12px;
    }

    .App footer a {
        font-size: 12px;
    }
}
