.Meaning p {
    margin-left: 0px;
    font-size: 16px;
}

.Meaning h5 {
    font-weight: 700;
}

.Meaning strong {
    font-weight: 500;
}

@media (max-width: 900px) {
    .Meaning p {
        font-size: 12px;
    }
}