:root {
    --primary-photographer: rgba(64, 66, 88, 0.8);
    --primary-links: rgba(10, 88, 202, 1);
}

.Photos a {
    font-size: 12px;
    color: var(--primary-photographer);
    text-decoration: none;
}

.Photos a:hover {
    color: var(--primary-links);
    text-decoration: underline;
}

.Photos img {
    border-radius: 10px;
}